<!-- GET /albums -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peep Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about_peep_styles.css') }}">
  </head>
  <body>
    <h1>Peep Info</h1>
    <div>
      <p>Peep Message: {{peep.message}}
      <br>Time Posted: {{peep.post_time}}
      <br>User ID: {{peep.user_id}}
      <br>Tag: {{peep.tag}}</p></p>
      <br><a href="/get_all_peeps/{{id}}">View All Peeps</a>
    </div>
    <!-- ... -->
  </body>
</html>