<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
		        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
		        crossorigin="anonymous"></script>
		<title>Title</title>
	</head>
	<body>
		<h1>Test</h1>
		<div class="messages">
			<label for="messageInput"></label><input id="messageInput"/>
		</div>
		
		<input type="text" id="message">
    <button id="send">Send</button>

    <input type="text" id="username">
    <button id="send_username">Send Username</button>

    <br>
    <br>
    <br>

    Send To: <input type="text" id="send_to_username">
    Message: <input type="text" id="private_message">
    <button id="send_private_message">Send</button>
		
		<script src="/static/js/index.js"></script>
	</body>
</html>