<!-- CREATE Peep -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Peep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_peep_styles.css') }}">
  </head>
  <body>
    <h1>Create New Peep</h1>
    <form action="/peep_create/{{id}}", method="post">
        <p>
          <label for="message">Message:</label>
          <input type="text" name="message" id="message"><br>
          <br><label for="tag">Tag:</label>
          <input type="text" name="tag" id="tag"><br>
        </p>
        <p>
          <br><input type="submit" value="Create Peep">
        </p>
    </form>
    <!-- ... -->
  </body>
</html>