<!-- GET /albums -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Failed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup_styles.css') }}">
  </head>
  <body>
    <h1>Create New User</h1>
    <form action="/chitter/user/sign_up", method="post">
          <p>Email Must Be Valid!<br>
          <br><label for="name">Name:</label>
          <input type="text" name="name" id="name"><br>
          <br><label for="username">Username:</label>
          <input type="text" name="username" id="username"><br>
          <br><label for="email">Email:</label>
          <input type="text" name="email" id="email"><br>
          <br><label for="password">Password:</label>
          <input type="password" name="password" id="password">
        </p>
        <p>
          <br><input type="submit" value="Create Account">
        </p>
    </form>
    <!-- ... -->
  </body>
</html>